.section__title {
    background-image: url('https://images.unsplash.com/photo-1583339522870-0d9f28cef33f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    background-position: center;
    margin-top: 170px;
}
